*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

body{
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

body{
    background-image: linear-gradient(to bottom right, rgb(29, 134, 74), rgba(210,53,165));
}

.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.calculator{
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px #47122c;
}

.theme-toggler{
    position: absolute;
    top: 30px;
    right: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
}

.theme-toggler.active{
    color: #333333;
}

.theme-toggler.active::before{
    background-color: #ffffff;
}

.theme-toggler::before{
    content: '';
    height: 30px;
    width: 30px ;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #333333;
    z-index:-1;
}

#display{
    margin: 0.10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
}

#display::-webkit-scrollbar{
    display: block;
    height: 3px;
}

button{
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover{
    transform: scale(1.20);
}

button#equal{
    height: 150px;
}

/* light theme */

.calculator {
    background-color: hsla(322, 5%, 59%, 0.723);
}

.calculator #display {
    color: #0a1e23;
}

.calculator button#clear {
    background-color: #ffd5d8;
    color: #461274;
}

.calculator button.btn-number {
    background-color: #c3eaff;
    color: #8c09097f;
}

.calculator button.btn-operator {
    background-color: #ffd0fb;
    color: #0a0a71;
  }
  
  .calculator button.btn-equal {
    background-color: #adf9e7;
    color: #000;
  }

  /* dark theme */

  .calculator.dark {
    background-color: #1e0710;
  }

  .calculator.dark #display {
    color: #f8fafb;
  }

  .calculator.dark button#clear {
    background-color: #2d191e;
    color: #37bdb6;
  }

  .calculator.dark button.btn-number {
    background-color: #381b1b;
    color: #495a27;
  }

  .calculator.dark button.btn-operator {
    background-color: hsl(275, 30%, 17%);
    color: hwb(172 7% 33% / 0.384);
  }
  
  .calculator.dark button.btn-equal {
    background-color: #223323;
    color: hwb(169 4% 60%);
  }
  